.checkout-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout-item img {
    height: 30vh;
}